.skillsCard {
    background-color: #2a3036;
    border-radius: 16px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    position: relative;
    grid-area: 1 / 4 / 3 / 4;
}
